<!--==================================================-->
<!-- Start Euildint Footer Area -->
<!--==================================================-->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="footer-wiget wow animate__zoomIn" style="visibility: visible;">
					<div class="footer-wiget-log">
						<a href="/"><img src="/img/logot.png" width="100%" alt=""></a>
					</div>
					<div class="footer-wiget-text">
						<p>We believe our services have immensely contributed to the infrastructure development
							requirements of the country for the past 18 years.</p>
					</div>
					<div class="footer-wiget-social">
						<ul>
							<li><a href="https://www.facebook.com/afreenauh?mibextid=9R9pXO" target="_blank"><i
										class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://instagram.com/afreenauh?utm_source=qr&igshid=OWM2ZWI5NDFkNA=="
									target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com/company/afreen-building-materials/" target="_blank"><i
										class=" fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-wiget wow animate__slideInDown" style="visibility: visible;">
					<div class="footer-wiget-title">
						<h4>Our Product Links </h4>
					</div>
					<div class="footer-wiget-menu">
						<ul>
							<li><a href="/products"><i class="bi bi-chevron-double-right"></i> MEP Works</a></li>
							<li><a href="/products"><i class="bi bi-chevron-double-right"></i> Pipes & Fittings</a></li>
							<li><a href="/products"><i class="bi bi-chevron-double-right"></i> Valves & Accessories</a>
							</li>
							<li><a href="/products"><i class="bi bi-chevron-double-right"></i> Mixers & Sanitary
									Accessories</a>
							</li>
							<li><a href="/products"><i class="bi bi-chevron-double-right"></i> Hand Tools &
									Equipment’s</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-wiget wow animate__slideInDown" style="visibility: visible;">
					<div class="footer-wiget-title">
						<h4>Useful Links</h4>
					</div>
					<div class="footer-wiget-menu">
						<ul>
							<li><a href="/"><i class="bi bi-chevron-double-right"></i> Home </a></li>
							<li><a href="/about-us"><i class="bi bi-chevron-double-right"></i> About Us </a></li>
							<li><a href="/products"><i class="bi bi-chevron-double-right"></i> Products</a></li>
							<li><a href="#"><i class="bi bi-chevron-double-right"></i> Careers</a></li>
							<li><a href="/contact"><i class="bi bi-chevron-double-right"></i> Contacts</a></li>
						</ul>
					</div>
				</div>
			</div>
			{{!-- <div class="col-lg-4 col-md-6 pr-0">
				<div class="foter-box">
					<div class="footer-wiget-title">
						<h4>Our Products</h4>
					</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4">
							<div class="footer-recent-thumb">
								<img src="assets/img/p1.png" alt="">
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">
							<div class="footer-recent-thumb">
								<img src="assets/img/p2.png" alt="">
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">
							<div class="footer-recent-thumb">
								<img src="assets/img/p3.png" alt="">
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">
							<div class="footer-recent-thumb">
								<img src="assets/img/p4.png" alt="">
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">
							<div class="footer-recent-thumb">
								<img src="/img/p1.png" alt="">
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">
							<div class="footer-recent-thumb">
								<img src="/img/p2.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div> --}}
		</div>
		<div class="row mt-110">
			<div class="col-lg-6 col-md-12">
				<div class="copyright-text">
					<p>Copyright ©<a href="#">Afreen</a>All Rights Reserved.

						{{!-- Developed By <a href="https://www.vectorcrop.com">VectorCrop</a> --}}

					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="footer-condition">
					<ul>
						<li><a href="/privacy" style="    margin-right: 25px;">Privacy & Policy</a></li>
						<li><a href="/contact#support">Support</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Euildint Footer Area -->
<!--==================================================-->


<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"><i
				class="far fa-times-circle"></i></span></button>
	<button class="close-search"><i class="fas fa-arrow-up"></i></button>
	<form method="post" action="#">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>