<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
  data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

  <div class="page-wrapper">
    <div class="container">
      <br>
      <h2>Add Category</h2>
      <br>
      <div class="card">
        <div class="card-body">

          <form action="/admin/category/add-category" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Category Name</label>
              <input type="text" name="name" class="form-control" required>
            </div>
            {{!-- <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Destination Link</label>
              <input type="text" name="dl" class="form-control">
            </div> --}}

            <div class="mb-4">
              <label for="exampleInputPassword1" class="form-label">Image</label><br>
              <input type="file" name="Image" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary mt-5 w-100">Submit</button>

          </form>



        </div>
      </div>


    </div>
  </div>
</div>