<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
  data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

  <div class="page-wrapper">
    <div class="container">
      <br>
      <h2>Add brand</h2>
      <br>
      <div class="card mb-5">
        <div class="card-body">

          <form action="/admin/brand/add-brand" enctype="multipart/form-data" method="POST">
            {{!-- <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Sub Heading</label>
              <input type="text" name="subtitle" class="form-control">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Main Heading</label>
              <input type="text" name="Mheading" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Quote</label>
              <input type="text" name="quote" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Description</label>
              <input type="text" name="desc" class="form-control">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Button Link</label>
              <input type="text" name="btnlink" class="form-control" required>
            </div> --}}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" name="name" class="form-control">
            </div>
            <div class="mb-0">
              <label for="exampleInputPassword1" class="form-label">Background Image</label><br>
              <input type="file" name="Image" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary mt-3 w-25">Submit</button>

          </form>



        </div>
      </div>


    </div>
  </div>
</div>