<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
  data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

  <div class="page-wrapper">
    <div class="container">
      <br>
      <h2>Add</h2>
      <br>
      <div class="card">
        <div class="card-body">

          <form action="/admin/pump/add-pumpproduct" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Pump Product Name</label>
              <input type="text" name="name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Category</label>
              <select class="form-select" name="category" aria-label="Default select example" required>
                <option value="" selected>Select Category</option>
                {{#each meps}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
            {{!-- <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Site Address</label>
              <input type="text" name="Saddress" class="form-control">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Site Phone Number</label>
              <input type="number" name="Sphone" class="form-control">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Site Email Address</label>
              <input type="email" name="Semail" class="form-control">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Site Location Address</label>
              <input type="text" name="Slocation" class="form-control">
            </div> --}}
            <div class="mb-4">
              <label for="exampleInputPassword1" class="form-label">Product Image</label><br>
              <input type="file" name="Image" class="form-control" required>
            </div>


            <button type="submit" class="btn btn-primary mt-5 w-100">Submit</button>

          </form>



        </div>
      </div>


    </div>
  </div>
</div>